* {
   box-sizing: border-box;
   list-style: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f7fa;
    color: #333;
}


header {
    background: url('img.webp');
    padding: 30px 20px;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    margin-top: 0;
}


nav {
    background: #001d3d;
    padding: 12px 0;
    width: 100%;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
    color: #ffd60a;
    text-align: center;
}


main {
    width: 85%;
    margin: auto;
    padding: 20px 0;
}


section h2 {
    background: #003566;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


article {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

article h3 {
    color: #001d3d;
    margin-bottom: 10px;
}



figure {
    text-align: center;
}

figure img {
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

figcaption {
    font-style: italic;
    margin-top: 10px;
    color: #555;
}


footer {
    background: #003566;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}

footer p {
    margin: 0;
}



@media (max-width: 768px) {

    header h1 {
        font-size: 24px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    figure img {
        width: 90%;
    }

    main {
        width: 95%;
    }
}

